body {
    &.admin {
        background: #e9ecef;

        .wrapper {
            .container {
                background: #e9ecef;
                border-radius: unset;
            }
        }
    }

    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 63px);

        .container {
            margin: 20px auto;
            background: #f8f9fa;
            border-radius: 3px;
        }
    }
}
