body {
    background: #e9ecef;

    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 63px);

        .container {
            margin: 20px auto;
        }
    }
}
