html {
    body {
        background: #e9ecef;

        .wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 100vh;

            .container {
                margin-top: 20px;
            }
        }
    }
}
