.content-wrapper {
    .header {
        padding: 15px 8px;

        .container-fluid {

            h1 {
                font-size: 2rem;
            }

            .breadcrumb {
                margin-top: 5px;
                margin-bottom: 0;
                padding: 0;
            }
        }
    }
}
